body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}
.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}
h1 {
    color: #333;
}
.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    margin-top: 10px;
}
.video-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
iframe {
    width: 100%;
    border-radius: 10px;
}
p {
    color: #555;
}

.hidden {
    display: none;
}

.videos{
    height: 500px;
}

.payment-section {
    background-color: #f8f9fa;
    padding: 40px 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 1000px;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn-custom {
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
}

.img-fluid{
    width: 150px;
}

.boss{
    width: 30px;
}